body{margin:0}
.head1{ 
	height:110px; 
	width:100%;	
	}
.logo{
	height:50px;
	width:160px;
	font:left;
}
.title{
	height:126px;
	width:34px;
	font:left;
}
.sign{
	height:133px;
	width:21px;
	font:right;
}
.body{
	height:830px;
	width:623px;
}