@charset "utf-8";
/* 注册框*/
#register
{
	width:770px;
	margin:0px auto;
	padding: 10px 0px;
	font-size:14px;
	overflow:hidden;
}
#register_box>div
{
	padding: 10px;
	line-height: 36px;
	overflow:hidden;
}
span.form_label
{
	float:left;
	width:240px;
	height: 37px;
	line-height: 37px;
	text-align: right;
	margin-right: 10px;
}
#register_box>div select
{
	font-size:16px;
	color:black;
	background-color: white;
	width:20px;
}
